html, body {
	width: 100%;
	height: 100%;
}

/* SIGN UP/LOG IN Page */

.login-page {
	background: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    url("/img/nyc.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box {
	border-radius: 10px;
	margin: 10;
	background-color: rgba(200,200,200,0.4);
}

.row img {
	width: 80%;
}

.all-photos {
	list-style-type: none;
	margin-bottom: 100px;
}

.all-photos img {
	max-height: 90px;
	margin: 0 auto;
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.login-page .col-md-6 .box {
	padding-left: auto;
	padding-right: auto;
}